/* src/components/Header.css */

header {
    text-align: center;
    padding: 2rem;
    background: #002b5c; /* Darker navy blue */
    color: #ffdd57; /* Yellow text */
  }
  
  .logo {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    border-radius: 150px;
    position: relative;
  }
  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }  
  .description {
    white-space: pre-line; /* Preserves line breaks */
  }
  .text-container {
    justify-content: center;
    text-align: center;
    margin-right: 90px;
  }
   
  header h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  
  header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .animation-container {
    position: relative;
    display: inline-block;
  }
  
  @media (max-width: 850px) {
    header {
      padding: 10px;
    }
  
    .logo {
      width: 100px;
      margin-bottom: 35px;
    }
    .text-container{
      margin-left: 50px;
    }
    h1 {
      font-size: 1.5em;
    }
  
    p {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .header-container{
      display: block;
      margin-left: 30px;
      
    }
    .logo {    
    margin-left: 70px;
    }
  
   header h1 {
      font-size: 1.2em;
    }
  
   header p {
      font-size: 0.9em;
    }
    .description {
      white-space: normal; /* Removes line breaks */
    }
    .text-container{
      width: 150px;
      text-align: center;
      
    }
  }


   

    

  
